.Login{
    position: fixed;
    // background-color: #00CEAA;
    height: 100vh;
    padding: 50px 100px 50px 100px;
    width: 100%;    
    .square{
        background-color: white;
        border-radius: 30px;
        height: 85vh;
        padding: 30px;
        // justify-content: center;
    }

    .errorServer{
        text-align: center;
        background: #ff3636;
        color: white;
        border-radius: 20px;
    }
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;    
}