.Login{
    background-color: #00CEAA;
    height: 100vh;
    padding: 50px;
    .square{
        background-color: white;
        border-radius: 30px;
        height: 85vh;
        padding: 30px;
    }
}