.AddProduct{
  color: #303f9f;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  .textProduct{
    margin: 0 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
  }
}

.AddProduct:active {
  color: #6070d8;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 
}