.contentRight{
    // background-color: blanchedalmond;
    width: auto;
    height: 100vh;
    padding: 10px;
    margin-left: 230px;

    .card-co{
        background-color: #eaf2ff;
        width: 100%;
        height: -webkit-fill-available;
        border-radius: 35px;
        padding: 20px;
    }
}