.inventoryPage{

  .tableContainer{
    overflow-y: scroll;
    height: 82vh;
    @media screen and ( max-height: 970px){
      height: 80vh;
    }
    @media screen and ( max-height: 880px){
      height: 78vh;
    }
  }

}